<footer>
  <div style="display:flex">
    {% for social in config.extra.social %}
        <a class="soc" href={{ social.url }} title={{ social.name }}>
            {% if social.icon_file %}
                <img src="/imgs/{{ social.icon_file }}" class="soc-icon" alt="{{ social.name }}">
            {% else %}
                <i data-feather={{ social.icon }}></i>
            {% endif %}
        </a>
    {% endfor %}
  </div>
  <div class="footer-info">
    {{ now() | date(format="%Y") }} © {{ config.extra.copyright }}
  </div>
</footer>

{% if config.extra.social %}
<script>
    feather.replace();
</script>
{% endif %}
