{% extends "index.html" %}

{% block main_content %}
<main>
    <article>
        <h1 style="margin-top: 0.8em; margin-bottom: 0.2em; font-size: 4rem; line-height: 1;">\(\nexists\)</h1>
        <p style="margin-top: 0;">The page you were looking for does not exist. Sending you <a href="/">home</a> in <span id="countdown">5</span>s. 🫂</p>
        <script>
            var seconds = 4;
            var el = document.getElementById('countdown');
            var timer = setInterval(function() {
                seconds--;
                el.textContent = seconds;
                if (seconds <= 0) {
                    clearInterval(timer);
                    window.location.href = '/';
                }
            }, 1000);
        </script>
    </article>
</main>
{% endblock main_content %}
